* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.p-card-sm {
  font-family: "Montserrat";
  font-weight: 400;
}
h5 {
  font-family: "Montserrat";
  font-weight: 600;
}
h2 {
  font-family: "Montserrat";
  font-weight: 600;
}

.app {
  display: flex;
  min-height: 100vh;
  background: #f2f6fa;
}

/* .menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #2e3047;
  cursor: pointer;
  z-index: 1;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}
.hamburger > span::after {
  content: "";
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 2rem 1rem;
  background-color: #fff;
  z-index: 1;
}

.sidebar h3 {
  color: #707793;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: #1e2875;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #3bba9c;
  border-right: 5px solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
  border-right: 5px solid #3bba9c;
} */

.content {
  width:100%;
  /* margin-left: 15rem; */
  flex: 1 1 0;
  padding: 2rem;

}

.content h1 {
  color: #3c3f58;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #707793;
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .content {
    padding-top: 8rem;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }
}

/* small cards */
.card-sm {
  border-radius: 10px;
}

/* agent cards */
.card-img {
  border-radius: 50%;
  width: 30%;
  height: 20%;
}
.btn-agent-num {
  border-radius: 30px;
  background-color: #ecf3ff;
  color: #1e2875;
  font-family: "Montserrat";
}
.btn-agent-active {
  border-radius: 30px;
  background-color: #bdecd2;
  color: #1e2875;
  font-family: "Montserrat";
}
.tex {
  flex-direction: column;
}

/* horizontal scrolling */

/* @import "https://unpkg.com/open-props"; */
/* @import "https://unpkg.com/open-props/normalize.min.css"; */

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 25%;

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.media-scroller::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  .media-scroller {
    display: contents;
  }
}
/* .media-scroller--with-groups {
  grid-auto-columns: 80%;
} */

/* .media-group {
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
} */

/* .media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
} */

/* .media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
} */

/* .snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
} */

/* .snaps-inline > * {
  scroll-snap-align: start;
} */

/* general styling */

/* .container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
} */

/* .flow {
  display: grid;
  gap: var(--size-3);
} */

/* .page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
} */

/* .page-title {
  font-size: var(--font-size-fluid-3);
} */

/* .page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
} */
.img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.upload-pp {
  position: absolute;
  margin-left: 90px;
  margin-top: 50px;
  border-radius: 20px;
}
.upload-pic {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

/* .media-element{
  width:16rem;
} */

.chart-img1{
  width:48%;
  height:20rem;
  filter: blur(6px);
}
.chart-img2{
  width:52%;
  height:22rem;
}

























