.second {
  background-image: linear-gradient(#f3fcfd, #ffffff);
}
.heading {
  font-family: "Montserrat";
  font-weight: 600;
}
.sub-heading {
  font-family: "Montserrat";
  font-weight: 600;
}
/* button css */
.btn_top1 {
  border-radius: 20px;
}
.btn_top2 {
  border-radius: 20px;
  box-shadow: 1px 2px #c0c0c0;
}

.btn_bottom1 {
  border-radius: 20px;
}
.btn_bottom2 {
  border-radius: 20px;
  box-shadow: 1px 2px #c0c0c0;
}

/* media queries */
@media only screen and (max-width: 768px) {
  .btn_div1 {
    display: flex;
    justify-content: end;
  }
}
